nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(250, 250, 250);
    box-shadow: var(--box-shadow);
    position: relative;
    padding: 0 30px;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.nav-section {
    display: flex;
    align-items: center;
}

.nav-section:first-child {
    flex: 1;
    justify-content: flex-start;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0;
    user-select: none;
    cursor: pointer;
}

.logo .blue {
    color: var(--blue-500);
}

.buttons-wrapper {
    display: flex;
    gap: 15px;
    margin-left: auto;
    height: 100%;
    align-items: center;

    button {
        height: 35px;
        padding: 0 16px;
        border-radius: 4px;
        transition: all 0.3s;
        cursor: pointer;
        font-weight: 600; 
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        margin: 0;
        border: 1px solid var(--blue-400);
        font-family: 'Inter', sans-serif;

        &:first-child {
            background: transparent;
            color: var(--blue-400);
            
            &:hover {
                background: rgba(78, 157, 198, 0.1);
            }
        }

        &:last-child {
            background: var(--blue-400);
            color: white;
            
            &:hover {
                background: var(--blue-500);
            }
        }
    }
}

.buttons-wrapper .workspace-btn {
    background: var(--blue-400);
    color: white;

    &:hover {
        background: var(--blue-500);
    }
}

.buttons-wrapper .logout-btn {
    background: #f56565;
    color: white;
    margin-right: 15px;

    &:hover {
        background: #e53e3e;
    }
}