<nav>
    <div class="nav-section">
      <div class="logo" routerLink="home">
        Uni<span class="blue">Note</span>
      </div>
    </div>
  
    <div class="buttons-wrapper">
      <ng-container *ngIf="!loggedInNavbar">
        <button class="login-btn" routerLink="/login">Entrar</button>
        <button class="register-btn" routerLink="/register">Registrar</button>
      </ng-container>
      
      <ng-container *ngIf="loggedInNavbar">
        <button class="workspace-btn" routerLink="/workspace" routerLinkActive="active">
          <i class="fas fa-folder"></i>
          Workspace
        </button>
        <button class="logout-btn" (click)="onClickSair()">
          <i class="fas fa-sign-out-alt"></i>
          Sair
        </button>
      </ng-container>
    </div>
  </nav>