<div class="home-body">
    <div class="content">
        <div class="content-section left-section">
            <h2>Bem-vindo ao UniNotes!</h2>
            <p>
                No UniNote, você tem à disposição uma plataforma intuitiva para criar,
                organizar e editar suas notas de maneira prática e rápida. Com a
                possibilidade de criar pastas e documentos personalizados, você consegue
                guardar todas as suas informações em um único lugar, acessível sempre
                que precisar.
            </p>
            <p>
                A ferramenta foi pensada para quem valoriza organização e eficiência nos
                estudos, no trabalho ou nos projetos pessoais. O UniNote permite que
                você crie documentos e anotações detalhadas e organize-as em pastas de
                acordo com suas preferências, garantindo que tudo esteja ao seu alcance.
            </p>
            <div class="description">
                <b>
                    Uma maneira facil e rapida de organizar notas!
                </b>
                <p>
                    Experimente o UniNotes e simplifique a maneira como você organiza suas
                    ideias!
                </p>
            </div>
            <div>
                <button class="fill-anim cta-button"><span>Comece Agora</span></button>
            </div>
        </div>
        <div class="content-section right-section">
            <div class="img-container">
                <div class="img"></div>
                <!-- <img src="/assets/imgs/home-img.jpg" alt="Imagem representativa do UniNote"> -->
            </div>
        </div>
    </div>
</div>

<div class="team-body">
    <h1>Conheça a nossa Equipe!</h1>
    <div class="team-body-content">
        <div class="team-member">
            <h3>Pedro L. Tunin</h3>
            <p class="member-function">Desenvolvedor Front-end</p>
            <p class="member-function">Documentação</p>
            <img src="../../../assets/imgs/member-images/image-pedro.jpg" alt="Pedro">
        </div>

        <div class="team-member">
            <h3>Augusto S. Bortoloti</h3>
            <p class="member-function">Desenvolvedor Front-end</p>
            <p class="member-function">Documentação</p>
            <img src="../../../assets/imgs/member-images/image-augusto.jpg" alt="Augusto">
        </div>

        <div class="team-member">
            <h3>Viktor Bonazza</h3>
            <p class="member-function">Desenvolvedor Back-end</p>
            <p class="member-function">Banco de dados</p>
            <img src="../../../assets/imgs/member-images/image-viktor.jpeg" alt="Viktor">
        </div>

        <div class="team-member">
            <h3>Yedi Trindade</h3>
            <p class="member-function">Desenvolvedor Front-end</p>
            <p class="member-function">Documentação</p>
            <img src="../../../assets/imgs/member-images/image-yedi.png" alt="Yedi">
        </div>

        <div class="team-member">
            <h3>Caique Delazari</h3>
            <p class="member-function">Documentação</p>
            <p class="member-function">Apresentação</p>
            <p class="member-function"></p>
            <img src="../../../assets/imgs/member-images/img-caique.jpeg" alt="Caique">
        </div>

    </div>
</div>