<div class="home-body">
    <div class="content">
        <div class="content-section left-section">
            <h2>Bem-vindo ao UniNotes!</h2>
            <!-- <p>
                No UniNote, você tem à disposição uma plataforma intuitiva para criar,
                organizar e editar suas notas de maneira prática e rápida. Com a
                possibilidade de criar pastas e documentos personalizados, você consegue
                guardar todas as suas informações em um único lugar, acessível sempre
                que precisar.
            </p>
            <p>
                A ferramenta foi pensada para quem valoriza organização e eficiência nos
                estudos, no trabalho ou nos projetos pessoais. O UniNote permite que
                você crie documentos e anotações detalhadas e organize-as em pastas de
                acordo com suas preferências, garantindo que tudo esteja ao seu alcance.
            </p> -->
            <div class="description">
                <b>
                    Uma maneira facil e rapida de organizar notas!
                </b>
                <p>
                    Experimente o UniNotes e simplifique a maneira como você organiza suas
                    ideias!
                </p>
            </div>
            <div>
                <button class="fill-anim cta-button"><span>Comece Agora</span></button>
            </div>
        </div>
        <div class="content-section right-section">
            <div class="img-container">
                <div class="img"></div>
                <!-- <img src="/assets/imgs/home-img.jpg" alt="Imagem representativa do UniNote"> -->
            </div>
        </div>
    </div>
</div>