<main>
    <section id="home" class="home-body">
      <div class="content">
        <div class="text-section">
          <h1>Bem-vindo ao UniNote!</h1>
          <p>
            No UniNote, você tem à disposição uma plataforma intuitiva para criar,
            organizar e editar suas notas de maneira prática e rápida. Com a
            possibilidade de criar pastas e documentos personalizados, você consegue
            guardar todas as suas informações em um único lugar, acessível sempre
            que precisar.
          </p>
          <p>
            A ferramenta foi pensada para quem valoriza organização e eficiência nos
            estudos, no trabalho ou nos projetos pessoais. O UniNote permite que
            você crie documentos e anotações detalhadas e organize-as em pastas de
            acordo com suas preferências, garantindo que tudo esteja ao seu alcance.
          </p>
          <p>
            Experimente o UniNote e simplifique a maneira como você organiza suas
            ideias!
          </p>
          <a href="login" class="cta-button">Comece Agora</a>
        </div>
        <div class="image-section">
          <img src="../../../assets/imgs/home-img.jpg" alt="Imagem representativa do UniNote" loading="lazy">
        </div>
      </div>
    </section>
  
    <section id="team" class="about-body">
      <h2>Conheça nossa Equipe</h2>
      <div class="about-content">
        <div class="team-member">
          <img src="../../../assets/imgs/member-images/image-pedro.jpg" alt="Pedro L. Tunin">
          <h3>Pedro L. Tunin</h3>
          <p class="member-function">Desenvolvedor Front-end</p>
        </div>
        <div class="team-member">
          <img src="../../../assets/imgs/member-images/image-augusto.jpg" alt="Augusto S. Bortoloti">
          <h3>Augusto S. Bortoloti</h3>
          <p class="member-function">Desenvolvedor Front-end</p>
        </div>
        <div class="team-member">
          <img src="../../../assets/imgs/member-images/image-viktor.jpeg" alt="Viktor Bonazza">
          <h3>Viktor Bonazza</h3>
          <p class="member-function">Desenvolvedor Back-end</p>
        </div>
        <div class="team-member">
          <img src="../../../assets/imgs/member-images/img-caique.jpeg" alt="Caíque P. Delazari">
          <h3>Caíque P. Delazari</h3>
          <p class="member-function">Documentação</p>
        </div>
        <div class="team-member">
          <img src="../../../assets/imgs/member-images/image-yedi.png" alt="Yedi Trindade">
          <h3>Yedi Trindade</h3>
          <p class="member-function">Documentação</p>
        </div>
      </div>
    </section>
  
    <section id="about" class="about-project-body">
      <div class="about-project-container">
        <h2>Sobre o Projeto UniNote</h2>
        <p>
          O UniNote é um projeto acadêmico desenvolvido por estudantes da <strong>Unisagrado</strong>, com o objetivo de oferecer uma ferramenta eficiente para organização e gerenciamento de notas e documentos. Este projeto foi realizado sob a tutela dos professores <strong>Victor Hugo Braguim Canto</strong>, <strong>Henrique Pachioni Martins</strong> e <strong>Robson Fernandes da Silva</strong>, que forneceram orientação e suporte durante todo o processo de desenvolvimento.
        </p>
        <p>
          Através do UniNote, os usuários podem criar, editar e organizar suas anotações de maneira intuitiva, permitindo um melhor aproveitamento do tempo e uma gestão mais eficiente das informações. Este projeto reflete o compromisso dos estudantes com a inovação e a busca por soluções tecnológicas que atendam às necessidades acadêmicas e pessoais.
        </p>
      </div>
    </section>
    <footer>
        <app-footer/>
    </footer>
  </main>
  